@media screen and (max-width: 992px) {
    .container {
        grid-template-areas: none;
    }

    .labs {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .iphone {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .keyboard {
        grid-column: 1/7;
        grid-row: 3/4;
    }

    .gamepad {
        grid-column: 7/13;
        grid-row: 3/4;
    }

    .imac {
        grid-column: 1/-1;
        grid-row: 4/5;
    }

    .twitter {
        grid-column: 1/7;
        grid-row: 5/6;
    }

    .icloud {
        grid-column: 7/13;
        grid-row: 5/7;
    }

    .ipad {
        grid-column: 1/7;
        grid-row: 6/7;
        justify-content: center;
    }

    .experience {
        grid-column: 1/-1;
        grid-row: 7/8;
        padding: 40px 0;
    }

    .tv {
        grid-column: 1/-1;
        grid-row: 8/9;
    }

    .tv img {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    p {
        padding: 0 15px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .labs {
        order: 1;
    }

    .iphone {
        order: 2;
        flex-direction: column;
    }

    .iphone .text {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 40px;
    }

    .iphone .img-holder {
        width: 100%;
    }

    .keyboard {
        order: 3;
    }

    .gamepad {
        order: 4;
    }

    .imac {
        order: 5;
        flex-direction: column;
        padding: 40px 0;
    }

    .imac .left,
    .imac .right {
        width: 100%;
    }

    .imac .left img {
        transform: translateX(-55%);
    }

    .twitter {
        order: 6;
        padding: 20px 0;
    }

    .ipad {
        order: 7;
        padding: 50px 0 0 0;
        background-size: 90%;
    }

    .ipad h3 {
        max-width: 200px;
        text-align: center;
    }

    .icloud {
        order: 8;
        padding-bottom: 20px;
    }

    .experience {
        order: 9;
    }

    .tv {
        order: 10;
        flex-direction: column;
    }
        .tv img {
            width: 50%;
            transform: translateX(-18%);
        }
}